<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
       .break1{
           text-align: center;
           font-size: 50px;
           color: #2c2c2c;
           background-color: #d5d5d5;
           letter-spacing: .05em;
           text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
           height: 100px;
           padding-top: 40px;
       }
        .break2{
            letter-spacing: 1px;
            text-shadow: 2px 2px 2px #CCCCCC;

        }



    </style>
</head>
<body>

<h1 class="break1">Giới thiệu sản phẩm </h1>
<div class="container-fluid">

    <div class="break2">
    <p> Khi tham gia một diễn đàn tin học bạn được yêu cầu tạo một tài khoản đăng nhập gồm tên và mật khẩu để đăng nhập
        vào trang và để tạo được một mật khẩu bao gồm chữ in hoa, chữ thường, số và các ký tự đặc biệt một cách nhanh
        chóng không phải là khó khăn đối với bạn nhưng để tạo một mật khẩu phức tạp nhằm bảo vệ tài khoản thì lại không
        đơn giản chút nào. Bài viết sẽ giới thiệu với bạn một công cụ rất hữu dụng trong việc tạo các mật khẩu an toàn
        với các ký tự ngẫu nhiên bao gồm chữ thường, chữ hoa, số và ký tự đặc biệt một cách nhanh chóng....</p>
    <p>
        Random Password Genarator có thể tạo 100 mật khẩu khác nhau với 64 ký tự bao gồm chữ in hoa, chữ thường, số và
        các ký tự đặc biệt được tạo ngẫu nhiên không theo bất kỳ qui tắc nào một cách nhanh chóng nhằm tạo sự an toàn
        cho mật khẩu trước các công cụ dò tìm của những ánh mắt tò mò. Chúng tôi khuyên bạn khi tạo mật khẩu hãy chọn từ
        12 ký tự trở lên để đảm bảo được tính bảo mật cho mật khẩu và bảo vệ sự riêng tư cá nhân.
    </p>
    <p>
        Password Generator : Cho phép bạn tùy chọn cách thức kết hợp để tạo mật khẩu tùy theo ý thích cá nhân
      <ul>
    <li> Numbers Of Charaters : Độ dài của mật khẩu (khuyên dùng 12 ký tự trở lên).</li>
    <li> Include UpperCase : Mật khẩu có chứa ký tự là chữ in hoa.</li>
    <li> Incude Numbers : Mật khẩu chứa ký tự là chữ in hoa.</li>
    <li>  Include Numbers : Mật khẩu chứa ký tự là số.</li>
    <li> Incude Symbols : Mật khẩu chứa ký tự biểu tượng .</li>

</ul>
    </p>
</div>
</div>
</div>
<a href="index">Back</a>
</body>
</html>